@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body {
    display: flex;
    height: 100vh; /* 50*/ 
    justify-content: center;
    align-items: center;
    padding: 8px; /* 10px */
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
    max-width: 700px; /*ancho*/
    width: 100%;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 400px;
    background: linear-gradient(to left, #fc5c7d, #6a82fb);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    /*margin: 20px 0 12px 0;*/
    width: calc(100% / 2 - 20px);
    margin-bottom: 10px; /* Ajusta el valor inferior aquí */
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    box-shadow: 0 0 5px #fc5c7d; /* Sombra cuando se enfoca */
    border-color: #fc5c7d;
}

form .gender-details .gender-title,
form .address-title{
    font-size: 20px;
    font-weight: 500;
}

/*form .gender-details .category{
    display: flex;
    width: 80%;
    background: red;   
    margin: 14px 0;
    justify-content: space-between;
}*/
form .gender-details .category{
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 14px 0;
    justify-content: space-between;
  }
.gender-details .category label{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four,
#dot-5:checked ~ .category label .five,
#dot-6:checked ~ .category label .six{
    border-color: #d9d9d9;
    background: #fc5c7d;
}
form input[type="radio"]{
    display: none;
}

form .button{
    height: 40px;
    margin: 20px 0;
}
form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color:#fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(to left, #fc5c7d, #6a82fb);
}
form .button input:hover{
    background: linear-gradient(to left, #6a82fb, #fc5c7d);
}
.miLista {
    width: 100%; /* Ancho de la lista desplegable */
    max-width: 320px;
    padding: 10px; /* Espaciado interior */
    height: 50px;
    border: 1px solid #ccc; 
    background-color: #fff; 
    transition: all 0.3s ease; 
    border-radius: 5px;
    font-size: 16px; 
    border-bottom-width: 2px;
    
}
  /* Estilo cuando se enfoca la lista desplegable */
.miLista:focus {
    outline: none; /* Quita el contorno de enfoque predeterminado */
    box-shadow: 0 0 5px #fc5c7d; 
    border: 2px solid #fc5c7d;
}
  
  /* Estilo para las opciones dentro de la lista desplegable */
.miLista option {
    transition: opacity 0.3s ease; 
}

@media (max-width: 584px) {
.container {
    max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}
form .gender-details .category {
    width: 100%;
}
.container form .user-details{
    max-height: 300;
    overflow-y: scroll;
}
.user-details::-webkit-scrollbar{
    width: 5px;
}
} 
@media(max-width: 550px){
.container .content .category{
    flex-direction: column;
}
}

  
